<div class="header">
  <div class="wrapper">
    <div class="left">
      <div class="logoWrapper">
        <div class="logoContainer">
          <picture>
            <source srcset="/assets/resources/placeholder_logo.png" media="(min-width: 769px)" />
            <source srcset="/assets/resources/placeholder_logo_small.png" media="(max-width: 768px)" />
            <img src="/assets/resources/placeholder_logo.png" alt="Naval's Logo Picture" />
          </picture>
        </div>
        <a href="#" class="logoText">
          NASK
        </a>
        <a href="#" class="logoSecondText">
          Tech
        </a>
      </div>
    </div>
  </div>
</div>
